{extends "index.tpl"}
{block "title"}Soubory{/block}
{block "content"}
    <section class="content-header">
        {if $state == "summary"}
            <h1>Soubory</h1>
        {elseif $state == "new"}
            <h1>Nový soubor</h1>
        {elseif $state == "edit"}
            <h1>Úprava souboru</h1>
        {elseif $state == "delete"}
            <h1>Odstranění souboru</h1>
        {/if}
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-9">
                <div class="box">
                    <div class="box-body">
                        {if $state == "summary"}
                            <a href="{$ROOT}{$active}/new" class="btn btn-success"><i class="fa fa-plus"></i></a>
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tr>
                                        <th>#</th>
                                        <th>Stav</th>
                                        <th>Název souboru</th>
                                        <th>URL souboru</th>
                                        <th>Akce</th>
                                    </tr>
                                    {foreach item=$item from=$pages}
                                        <tr>
                                            <td>{$item.ID}</td>
                                            <td>{if $item.stav}
                                                    <span class="fa fa-check-circle" style="color: green;"></span>
                                                {else}
                                                    <span class="fa fa-times-circle" style="color: red;"></span>
                                                {/if}</td>
                                            <td>{$item.title}</td>
                                            <td>{$ROOT|replace:'/admin/':''}{$item.url}</td>
                                            <td>
                                                <a href="{$ROOT}{$active}/delete/{$item["ID"]}" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a>
                                            </td>
                                        </tr>
                                        {foreachelse}
                                        <tr>
                                            <td colspan="3">Žádné soubory nenalezeny. Kliknutím na zelené <strong>+</strong> nahrajte soubor.</td>
                                        </tr>
                                    {/foreach}
                                </table>
                            </div>
                        {elseif $state == "new"}
                            {include "./new.tpl"}
                        {elseif $state == "edit"}
                            {include "./edit.tpl"}
                        {elseif $state == "delete"}
                            {include "./delete.tpl"}
                        {/if}
                    </div>
                </div>
            </div>

            {if $state == "summary"}
            <div class="col-md-3">
                <div class="box">
                    <div class="box-body">
                        <h4>Vyhledávání</h4>
                        <input type="text" id="search" placeholder="Zadejte hledaný název souboru" class="form-control" />
                    </div>
                </div>
            </div>
            {/if}
        </div>
    </section>
{/block}