@import '../../vendor/bootstrap/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=latin-ext');

.card {
	background-color: transparent;
}

* {
	z-index: 1000;
	font-family: "Roboto", sans-serif;
  	box-shadow: none !important;
  	outline: none !important;
}

body {
	background-color: #f8f8f8;
}

html {
	display: block;
}

.sidenav {
	display: none;
}
.open-sidenav {
	display: none;
}
.closebtn {
	display: none;
}

.navbar {
	.container {
		max-width: 1400px;
	}
	background-color: #fff;
	.nav-link {
		text-transform: uppercase;
		color: #000 !important;
		&.active {
			font-weight: bold;
		}
	}
	.navbar-brand {
		img {
			max-height: 50px;
		}
	}
}

#slider {
	h1 {
		font-size: 3.5rem;
		color: #fff;
		text-transform: uppercase;
		font-weight: 300;
	}
	position: relative;
	width: 100%;
	height: 550px;
	img {
		object-fit: cover;
		width: 100%;
		height: 550px;
	}
	.banner-text {
		position: absolute;
		width: 1100px;
		max-width: 100%;
		text-align: left;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.btn {
		color: #fff;
		border-radius: 0 !important;
		background-color: transparent;
		border: 2px #fff solid;
		text-transform: uppercase;
	}
}

[class^="odstavec"] {
	padding: 50px 0;
}
.banner-links {
	margin: 0 auto;
	padding: 0;
	padding-bottom: 50px;
	position: relative;
	.col-12 {
		flex: auto;
	}
	.row {
		justify-content: space-between;
	}
	.col-md-3 {
		cursor: pointer;
		-webkit-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.1) !important;
		-moz-box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.1) !important;
		box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.1) !important;
		background-color: #fff !important;
		p {
			padding: 30px;
		}
		@media (min-width: 901px) {
			flex: 0 0 22%;
			max-width: 23%;
		}
		padding-left: 0;
		padding-right: 0;
		@media (max-width: 901px) {  
			margin: 30px 0;
		}
		&:nth-child(2) {
			background-color: #FAA64A50;
			box-shadow: inset 0 0 2px #FAA74A;
			h2 {
				background-image: url("../images/vytvarnyobor.png");
				background-position: left 32px center;
				@media (max-width: 1300px) {
					background-position: bottom 10px right 10px;
				}
				background-size: auto 50%;
				background-repeat: no-repeat;
				background-color: #FAA74A;
				color: #fff;
			}
			.btn {
				background-color: #FAA74A;
				color: #fff;
			}
		}
		&:first-child {
			background-color: #FFCB0550;
			box-shadow: inset 0 0 2px #FFCB05;
			h2 {
				background-image: url("../images/hudebniobor.png");
				background-position: left 32px center;
				@media (max-width: 1300px) {
					background-position: bottom 10px right 10px;
				}
				background-size: auto 50%;
				background-repeat: no-repeat;
				background-color: #FFCB05;
				color: #fff;
			}
			.btn {
				background-color: #FFCB05;
				color: #fff;
			}
		}
		&:nth-child(3) {
			background-color: #F9AA8F50;
			box-shadow: inset 0 0 2px #F9AA8F;
			h2 {
				background-image: url("../images/tanecniobor.png");
				background-position: left 32px center;
				@media (max-width: 1300px) {
					background-position: bottom 10px right 10px;
				}
				background-size: auto 50%;
				background-repeat: no-repeat;
				background-color: #F9AA8F;
				color: #fff;
			}
			.btn {
				background-color: #F9AA8F;
				color: #fff;
			}
		}
		&:last-child {
			background-color: #D6CC7050;
			box-shadow: inset 0 0 2px #D6CC70;
			h2 {
				background-image: url("../images/litdramobor.png");
				background-position: left 32px center;
				@media (max-width: 1300px) {
					background-position: bottom 10px right 10px;
				}
				background-size: auto 50%;
				background-repeat: no-repeat;
				background-color: #D6CC70;
				color: #fff;
			}
			.btn {
				background-color: #D6CC70;
				color: #fff;
			}
		}
		h2 {
			text-transform: uppercase;
			width: 100%;
			background-color: #0b58a2;
			@media (min-width: 901px) {
				position: absolute;
				transform: translateY(-100%);
			}
			padding: 30px 10px;
			font-size: 33px;
			font-weight: bold;

		}
		a {
			&.btn {
				text-transform: uppercase;
				border-radius: 0;
				position: absolute;
				bottom: 15px;
				left: 50%;

				transform: translateX(-50%);
				font-size: 18px;
			}
		}
	}

}

.bg-color-red {
	color: #fff;
	background: #F9AA8F;
}

.bg-color-yellow {
	color: #fff;
	background: #ffcb05;
}

.bg-color-orange {
	color: #fff;
	font-size: 18px;
	background: #faa74a;
}

.bg-color-orange-with-img {
	color: #fff;
	font-size: 18px;
	background: #faa74a;
	background-image: url('../images/vytvarnyobor.png');
	background-repeat: no-repeat;
	background-position: top 30px left 30px;
}

.bg-color-red-with-img {
	color: #fff;
	font-size: 18px;
	background: #F9AA8F;
	background-image: url('../images/tanecniobor.png ');
	background-repeat: no-repeat;
	background-position: top 30px left 30px;
}

.bg-color-yellow-with-img {
	color: #fff;
	font-size: 18px;
	background: #ffcb05;
	background-image: url('../images/hudebniobor.png');
	background-repeat: no-repeat;
	background-position: top 30px left 30px;
}
.years {
	margin-bottom: 15px;
}
.months_buttons {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 50px;
}
.bg-color-green-with-img {
	color: #fff;
	font-size: 18px;
	background: #d6cc70;
	background-image: url('../images/litdramobor.png');
	background-repeat: no-repeat;
	background-position: top 30px left 30px;
}

.bg-color-green {
	background: #d6cc70;
}

.bg-color-gray {
	background: #f1f4f5;
	color: #000;
}

.btn-secondary {
	color: #000;
	background-color: #ffffff;
	border: 2px #000 solid;
	border-radius: 0;
	font-weight: 500;
	text-transform: uppercase;
	padding: 10px 15px;
}
#oblibene-container {
	.oblibene {
		position: relative;
		margin-bottom: 30px;
		transition: .3s;
		.desc {
			display: none;
		}
		&:hover {
			transform: scale(1.1);
			transition: .3s;
			.title {
				color: #000;
			}
			.desc {
				display: block;
			}
			&:before {
				display: block;
				content: "";
				width: calc(100% - 30px);
				height: 100%;
				background: -moz-linear-gradient(301deg, rgba(249,170,143,1) 0%, rgba(255,203,5,0.72) 30%, rgba(250,167,74,0.86) 66%, rgba(214,204,112,1) 100%); /* ff3.6+ */
				background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(249,170,143,1)), color-stop(30%, rgba(255,203,5,0.72)), color-stop(66%, rgba(250,167,74,0.86)), color-stop(100%, rgba(214,204,112,1))); /* safari4+,chrome */
				background: -webkit-linear-gradient(301deg, rgba(249,170,143,1) 0%, rgba(255,203,5,0.72) 30%, rgba(250,167,74,0.86) 66%, rgba(214,204,112,1) 100%); /* safari5.1+,chrome10+ */
				background: -o-linear-gradient(301deg, rgba(249,170,143,1) 0%, rgba(255,203,5,0.72) 30%, rgba(250,167,74,0.86) 66%, rgba(214,204,112,1) 100%); /* opera 11.10+ */
				background: -ms-linear-gradient(301deg, rgba(249,170,143,1) 0%, rgba(255,203,5,0.72) 30%, rgba(250,167,74,0.86) 66%, rgba(214,204,112,1) 100%); /* ie10+ */
				background: linear-gradient(149deg, rgba(249,170,143,1) 0%, rgba(255,203,5,0.72) 30%, rgba(250,167,74,0.86) 66%, rgba(214,204,112,1) 100%); /* w3c */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9AA8F', endColorstr='#d6cc70',GradientType=0 ); /* ie6-9 */
				z-index: 1000;
				position: absolute;
				top: 0;
				left: 15px;
				right: 15px;
				bottom: 0;
			}
			img {
				opacity: .2;
				transition: .3s;
			}
		}
		img {
			display: block;
			width: 100%;
			height: 250px;
			object-fit: cover;
			position: relative;
		}

		.date {
			position: absolute;
			left: 5px;
			top: 20px;
			padding: 5px 10px;
			background: #22b14c;
			color: #fff;
			overflow: visible;
			-webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.4) !important;
			-moz-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.4) !important;
			box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.4) !important;

			&:before {
				content: "";
				position: absolute;
				top: 100%;
				left: 0;
				border-top: 10px solid #147032;
				border-left: 10px solid transparent;
			}
		}

		.title {
			position: absolute;
			bottom: 0;
			left: 15px;
			right: 15px;
			width: 100%;
			box-sizing: border-box;
			padding: 0 10px;
			font-size: 22px;
			color: #fff;
			text-shadow: 1px 1px 1px #00000050;
		}
	}
}

h2 {
	text-transform: uppercase;
	&.odstavec_nadpis {
		text-align: center;
	}
}
#akce-container {
	.akce {
		h3 {
			font-size: 18px;
		}
		.date {
			box-sizing: border-box;
			padding: 10px;
			display: block;
			height: 100%;
			background-color: #22b14c;
			color: #fff;
			.day {
				display: block;
				font-size: 28px;
				font-weight: bold;
				text-align: center;
			}
			.month {
				font-size: 18px;
				text-align: center;
				display: block;
			}
			.time {
				display: block;
				font-size: 15px;
				text-align: center;
				font-weight: bold;
			}
		}
	}
}

.odstavec_201 {
	padding-top: 0;
}

.btn-primary {
	background-color: #22b14c;
	border: 2px #22b14c solid;
	color: #fff;
	border-radius: 0;
	&:hover {
		border-color: #22c14d;
		background-color: #22c14d;
	}
	&:active, &:focus, &:focus:active, &.active, &.focus, &:not(.disabled):not(.disabled):active{
		border-color: #21a047;
		background-color: #21a047;
	}
}

#udalosti {
	a {
		color: #000;
		text-decoration: none;
	}

	.udalost {
		padding-left: 5px;
		padding-right: 5px;

		img {
			height: 275px;
			object-fit: cover;
			width: 100%;
		}

		h3 {
			font-size: 1.4rem;
		}

		.text {
			padding: 10px 0;
		}
	}

	.owl-dot {
		span {
			width: 30px;
			border-radius: 0 !important;
		}

		&.active {
			span {
				background-color: #faa74a !important;
			}
		}
	}

	.owl-nav {
		width: 100%;
		position: absolute;
		top: 35%;
		left: 0;
		transform: translateY(-50%);
		.owl-prev {
			&:hover {
				background: transparent;	 
				span {
					color: #faa74a;
				}
			}
			left: -100px;
			position: absolute;
			span {
				font-size: 60px;
			}
		}
		.owl-next {
			&:hover {
				background: transparent;	 
				span {
					color: #faa74a;
				}
			}
			right: -100px;
			position: absolute;
			span {
				font-size: 60px;
			}
		}
	}
}

.homepage-links-with-images {
	.container-fluid {
		cursor: pointer;
		&:hover {
			.obrazek_bez_textu {
				transition: .3s;
				transform: scale(1.02);
			}
		}
		margin: 0;
		padding: 0;
		.row {
			margin: 0;
			padding: 0;
		}
		[class^="col-"] {
			padding: 0;
			margin: 0;
		}
		[class^="col-md-"] {
			margin: 0;
			padding: 0;
		}
		[class^="obrazek"] {
			margin-bottom: 5px;
		}
		.obrazek_ctvercovy, .obrazek_bez_textu {
			width: calc(25vw - 10px);
			height: calc(25vw - 10px);
			img {
				z-index: -1;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.obrazek_vysoky {
			width: calc(25vw - 10px);
			height: calc(50vw - 20px);
			img {
				width: 100%;
				height: calc(100% + 5px);
				object-fit: cover;
				z-index: -1;
			}
		}
		.obrazek_bez_textu {
			width: calc(25vw - 20px);
			height: calc(25vw - 15px);
			display: block;
			margin: 0 5px 10px;
			box-shadow: 0px 1px 9px #ccc !important;
			position: relative;
			z-index: 10000;
			background-color: #fff;
			.text {
				padding: 0 20px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.obrazek_siroky {
			@media (max-width: 901px) {
				width: calc(100vw - 18px);
				height: calc(50vw - 10px);
			}
			@media (min-width: 901px) {
				width: calc(50vw - 15px);
				height: calc(25vw - 10px);
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

footer {
	padding: 50px 0 35px;
	background-color: #f1f4f5;
	color: #000;
	* {
		color: #000;
	}
}

[class^="nav-level-"] {
	
	background-color: #fff;
	text-align: center;
	list-style-type: none;
	li {
		display: inline-block;
		cursor: pointer;
		margin: 0;
		a {
			display: inline-block;
			padding: 15px 20px;
			color: #000;

		}
		&:hover, &.active {
			background-color: #f1f4f5;
			a {
				text-decoration: none;
			}
		}
		&.active {
			background-color: #f1f4f5;
			a {
				font-weight: bold;
			}
		}
	}
	.navicon {
		height: 80px;
		margin: 10px 0;
	}
}
.nav-level-1 {
	border-bottom: 2px #ccc solid;
}
.nav-level-2 {
	background-color: #f1f4f5;
	li {
		&.active {
			background-color: #f1f4f5;
		}
	}
}

.teachers {
	padding: 0;
	&:last-of-type {
		padding-bottom: 50px;
	}
	.col-md-3 {
		img {
			width: 100%;
			filter: brightness(75%);
			transition: .3s;
			height: 255px;
			object-fit: cover;
		}
		transition: .3s;
		a {
			color: #fff;
			text-decoration: none;
		}
		h3, h3 + p {
			position: absolute;
			top: 185px;
			text-align: center;
			width: calc(100% - 30px);
			display: none;
			font-size: 22px;
			color: #fff;
			text-shadow: 1px 1px 1px #000;
		}
		h3 + p {
			font-size: 18px;
			bottom: 5%;
		}
		h3 {
			display: block;
		}
		&:hover {
			transform: scale(1.1);
			transition: .3s;
			h3 {
				top: 140px;
			}
			h3, h3 + p {
				display: block;
			}
			img {
				filter: brightness(100%);
				transition: .3s;
			}
		}
	}
}

.odstavec-open {
	padding: 0;
	.card {
		@media (min-width: 901px) {
			max-width: 800px;
			margin: 0 auto;
		}
		border: 0;
		border-radius: 0;
	}
	.card-header {
		background-color: transparent;
		border-bottom: 0;
		background: transparent;
		.btn-link {
			background-color: #fff;
			position: relative;
			display: block;
			width: 100%;
			padding: 20px;
			color: #000 !important;
			text-align: left;
			text-decoration: none !important;
			h3 {
				font-size: 1.25rem;
				font-weight: normal;
			}
			&:after {
				content: "+";
				display: block;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				font-size: 32px;
				right: 30px;
			}
			&[aria-expanded="false"]:after {
				content: "+";
			}
			&[aria-expanded="true"]:after {
				content: "-";
			}
			&:hover {
				background-color: #f1f4f5;
				transform: .3;
			}
		}
	}
	&:last-of-type {
		margin-bottom: 50px;
	}
}

#galleries {
	.category-box {
		display: table;
		background-color: #fff;
		h3, p, a {
			color: #000;
			text-shadow: none !important;
		}
		h3 {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			line-height: 100%;
			font-size: 20px;
		}
		&:hover {
			* {text-decoration: none !important;}
			transform: scale(1.05);
			transition: .3s;
		}
		padding: 10px;
		flex: 0 0 23%;
		box-shadow: 0 0 19px rgba(0, 0, 0, 0.15) !important;
		min-height: 100px;
		line-height: 100%;
		margin: 10px;
		cursor: pointer;
		transition: .3s;
	}
	.col-md-3:not(.category-box) {
		img {
			width: 100%;
			filter: brightness(75%);
			transition: .3s;
			height: 255px;
			object-fit: cover;
		}
		transition: .3s;
		a {
			color: #fff;
			text-decoration: none;
		}
		h3, h3 + p {
			position: absolute;
			bottom: calc(5% + 45px);
			text-align: center;
			width: calc(100% - 30px);
			display: none;
			font-size: 22px;
			color: #fff;
			text-shadow: 1px 1px 1px #000;
		}
		h3 + p {
			font-size: 18px;
			bottom: 5%;
		}
		h3 {
			display: block;
		}
		&:hover {
			transform: scale(1.1);
			transition: .3s;
			h3, h3 + p {
				display: block;
			}
			img {
				filter: brightness(100%);
				transition: .3s;
			}
		}
	}
}

.partnershp {
	background: #fff;
}


.breadcrumb {
	background-color: #fff;
	a {
		color: #faa74a;
	}
}

#articles {
	.item {
		margin: 15px 0;
		position: relative;
		img {
			width: 100%;
			height: 255px;
			object-fit: cover;
			object-position: top;
		}
		&.clanek {
			a {
				color: #FAA74A;
				text-decoration: none;
			}

			h3 {
				margin-top: 15px;
				font-size: 22px;

			}
		}
		&.kategorie {
			h3 {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				font-size: 26px;
				width: calc(100% - 30px);
				box-sizing: border-box;
				padding: 15px;
				color: #fff;
				text-shadow: 1px 1px 1px #000;
				text-align: center;
			}
		}
	}
}

#article {
	.content {
		margin: 0 -15px;
	}
}

.decor {
	background: repeating-linear-gradient(90deg,#FAA74A,#FAA74A 100px,#FFCB05 100px,#FFCB05 200px,#F9AA8F 200px,#F9AA8F 300px,#D6CC70 300px,#D6CC70 400px);
	height: 4px;
	width: 100%;
}
@media (max-width: 901px) {
	:not(.owl-carousel) {
		.btn {
			&.btn-primary {
				&.btn-lg {
					display: block;
					width: 100%;
				}
			}
		}
	}
}


@media (max-width: 1300px) {
	.navbar {
		.btn-secondary {
			font-size: 14px;
		}
		.navbar-brand {
			img {
				max-height: 40px;
			}
		}
	}
	.banner-links .col-md-3 h2 {
		font-size: 20px;
	}
	.banner-links .col-md-3 p {
		padding: 15px;
	}
}

.btn {
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2) !important;
}

.row {
	&.akce {
		background-color: #f1f4f5;
		margin-bottom: 30px;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, .2) !important;
		&:nth-child(2n) {
			background-color: #fff;
		}
		.date {
			box-sizing: border-box;
			padding: 10px;
			display: block;
			background-color: #22b14c;
			color: #fff;
			margin-bottom: 0;
			height: 100%;
		}
		.col-2, .col-3 {
			padding-left: 0;
		}
		.col-9 {
			padding-top: 20px;
			padding-bottom: 20px;
			h3 {
				font-size: 18px;
			}
		}
	}
}
.odstavec_67{
	padding: 50px 0 100px;
	a {
		&.btn {
			position: absolute;
			bottom: -40px;
			left: 15px;
		}
	}	
} 
#calendar {

	
	button {
		border: 0;
		color: #000;
		background-color: #f8f8f8;
		text-transform: uppercase;
		cursor: pointer;
		font-size: 18px;
		padding: 5px;
		margin: 5px;
		font-weight: bold;
		&.active, &:hover {
			background-color: #faa74a;
			color: #fff;
		}
	}
	.months {
		display: none;
		&.active {
			display: block;
		}
		.month {
			display: none;
			&.active {
				display: block;
			}
		}
	}
}

.clanek-vyucujici {
	img {
		width: 100%;
		height: auto;
	}
	hr {
		margin-top: -10px;
		margin-bottom: 10px;
		border: 0;
		border-top: 1px solid #afafaf;
		width: 20%;
		margin-left: 0;
	}
	.fa {
		color: #faa74a !important;
	}
	a {
		color: #faa74a !important;
		&:hover, &:active, &:focus {
			color: #faa74a !important
		}
	}
}