@import '../../vendor/bootstrap/bootstrap.min.css';
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxGIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fChc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fChc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfChc9.ttf) format('truetype');
}
.card {
  background-color: transparent;
}
* {
  z-index: 1000;
  font-family: "Roboto", sans-serif;
  box-shadow: none !important;
  outline: none !important;
}
body {
  background-color: #f8f8f8;
}
html {
  display: block;
}
.sidenav {
  display: none;
}
.open-sidenav {
  display: none;
}
.closebtn {
  display: none;
}
.navbar {
  background-color: #fff;
}
.navbar .container {
  max-width: 1400px;
}
.navbar .nav-link {
  text-transform: uppercase;
  color: #000 !important;
}
.navbar .nav-link.active {
  font-weight: bold;
}
.navbar .navbar-brand img {
  max-height: 50px;
}
#slider {
  position: relative;
  width: 100%;
  height: 550px;
}
#slider h1 {
  font-size: 3.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}
#slider img {
  object-fit: cover;
  width: 100%;
  height: 550px;
}
#slider .banner-text {
  position: absolute;
  width: 1100px;
  max-width: 100%;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#slider .btn {
  color: #fff;
  border-radius: 0 !important;
  background-color: transparent;
  border: 2px #fff solid;
  text-transform: uppercase;
}
[class^="odstavec"] {
  padding: 50px 0;
}
.banner-links {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 50px;
  position: relative;
}
.banner-links .col-12 {
  flex: auto;
}
.banner-links .row {
  justify-content: space-between;
}
.banner-links .col-md-3 {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.1) !important;
  background-color: #fff !important;
  padding-left: 0;
  padding-right: 0;
}
.banner-links .col-md-3 p {
  padding: 30px;
}
@media (min-width: 901px) {
  .banner-links .col-md-3 {
    flex: 0 0 22%;
    max-width: 23%;
  }
}
@media (max-width: 901px) {
  .banner-links .col-md-3 {
    margin: 30px 0;
  }
}
.banner-links .col-md-3:nth-child(2) {
  background-color: #FAA64A50;
  box-shadow: inset 0 0 2px #FAA74A;
}
.banner-links .col-md-3:nth-child(2) h2 {
  background-image: url("../images/vytvarnyobor.png");
  background-position: left 32px center;
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-color: #FAA74A;
  color: #fff;
}
@media (max-width: 1300px) {
  .banner-links .col-md-3:nth-child(2) h2 {
    background-position: bottom 10px right 10px;
  }
}
.banner-links .col-md-3:nth-child(2) .btn {
  background-color: #FAA74A;
  color: #fff;
}
.banner-links .col-md-3:first-child {
  background-color: #FFCB0550;
  box-shadow: inset 0 0 2px #FFCB05;
}
.banner-links .col-md-3:first-child h2 {
  background-image: url("../images/hudebniobor.png");
  background-position: left 32px center;
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-color: #FFCB05;
  color: #fff;
}
@media (max-width: 1300px) {
  .banner-links .col-md-3:first-child h2 {
    background-position: bottom 10px right 10px;
  }
}
.banner-links .col-md-3:first-child .btn {
  background-color: #FFCB05;
  color: #fff;
}
.banner-links .col-md-3:nth-child(3) {
  background-color: #F9AA8F50;
  box-shadow: inset 0 0 2px #F9AA8F;
}
.banner-links .col-md-3:nth-child(3) h2 {
  background-image: url("../images/tanecniobor.png");
  background-position: left 32px center;
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-color: #F9AA8F;
  color: #fff;
}
@media (max-width: 1300px) {
  .banner-links .col-md-3:nth-child(3) h2 {
    background-position: bottom 10px right 10px;
  }
}
.banner-links .col-md-3:nth-child(3) .btn {
  background-color: #F9AA8F;
  color: #fff;
}
.banner-links .col-md-3:last-child {
  background-color: #D6CC7050;
  box-shadow: inset 0 0 2px #D6CC70;
}
.banner-links .col-md-3:last-child h2 {
  background-image: url("../images/litdramobor.png");
  background-position: left 32px center;
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-color: #D6CC70;
  color: #fff;
}
@media (max-width: 1300px) {
  .banner-links .col-md-3:last-child h2 {
    background-position: bottom 10px right 10px;
  }
}
.banner-links .col-md-3:last-child .btn {
  background-color: #D6CC70;
  color: #fff;
}
.banner-links .col-md-3 h2 {
  text-transform: uppercase;
  width: 100%;
  background-color: #0b58a2;
  padding: 30px 10px;
  font-size: 33px;
  font-weight: bold;
}
@media (min-width: 901px) {
  .banner-links .col-md-3 h2 {
    position: absolute;
    transform: translateY(-100%);
  }
}
.banner-links .col-md-3 a.btn {
  text-transform: uppercase;
  border-radius: 0;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
}
.bg-color-red {
  color: #fff;
  background: #F9AA8F;
}
.bg-color-yellow {
  color: #fff;
  background: #ffcb05;
}
.bg-color-orange {
  color: #fff;
  font-size: 18px;
  background: #faa74a;
}
.bg-color-orange-with-img {
  color: #fff;
  font-size: 18px;
  background: #faa74a;
  background-image: url('../images/vytvarnyobor.png');
  background-repeat: no-repeat;
  background-position: top 30px left 30px;
}
.bg-color-red-with-img {
  color: #fff;
  font-size: 18px;
  background: #F9AA8F;
  background-image: url('../images/tanecniobor.png ');
  background-repeat: no-repeat;
  background-position: top 30px left 30px;
}
.bg-color-yellow-with-img {
  color: #fff;
  font-size: 18px;
  background: #ffcb05;
  background-image: url('../images/hudebniobor.png');
  background-repeat: no-repeat;
  background-position: top 30px left 30px;
}
.years {
  margin-bottom: 15px;
}
.months_buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}
.bg-color-green-with-img {
  color: #fff;
  font-size: 18px;
  background: #d6cc70;
  background-image: url('../images/litdramobor.png');
  background-repeat: no-repeat;
  background-position: top 30px left 30px;
}
.bg-color-green {
  background: #d6cc70;
}
.bg-color-gray {
  background: #f1f4f5;
  color: #000;
}
.btn-secondary {
  color: #000;
  background-color: #ffffff;
  border: 2px #000 solid;
  border-radius: 0;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 15px;
}
#oblibene-container .oblibene {
  position: relative;
  margin-bottom: 30px;
  transition: 0.3s;
}
#oblibene-container .oblibene .desc {
  display: none;
}
#oblibene-container .oblibene:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
#oblibene-container .oblibene:hover .title {
  color: #000;
}
#oblibene-container .oblibene:hover .desc {
  display: block;
}
#oblibene-container .oblibene:hover:before {
  display: block;
  content: "";
  width: calc(100% - 30px);
  height: 100%;
  background: -moz-linear-gradient(301deg, #f9aa8f 0%, rgba(255, 203, 5, 0.72) 30%, rgba(250, 167, 74, 0.86) 66%, #d6cc70 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f9aa8f), color-stop(30%, rgba(255, 203, 5, 0.72)), color-stop(66%, rgba(250, 167, 74, 0.86)), color-stop(100%, #d6cc70));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(301deg, #f9aa8f 0%, rgba(255, 203, 5, 0.72) 30%, rgba(250, 167, 74, 0.86) 66%, #d6cc70 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(301deg, #f9aa8f 0%, rgba(255, 203, 5, 0.72) 30%, rgba(250, 167, 74, 0.86) 66%, #d6cc70 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(301deg, #f9aa8f 0%, rgba(255, 203, 5, 0.72) 30%, rgba(250, 167, 74, 0.86) 66%, #d6cc70 100%);
  /* ie10+ */
  background: linear-gradient(149deg, #f9aa8f 0%, rgba(255, 203, 5, 0.72) 30%, rgba(250, 167, 74, 0.86) 66%, #d6cc70 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9AA8F', endColorstr='#d6cc70', GradientType=0);
  /* ie6-9 */
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  bottom: 0;
}
#oblibene-container .oblibene:hover img {
  opacity: 0.2;
  transition: 0.3s;
}
#oblibene-container .oblibene img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
  position: relative;
}
#oblibene-container .oblibene .date {
  position: absolute;
  left: 5px;
  top: 20px;
  padding: 5px 10px;
  background: #22b14c;
  color: #fff;
  overflow: visible;
  -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.4) !important;
  -moz-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.4) !important;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.4) !important;
}
#oblibene-container .oblibene .date:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 10px solid #147032;
  border-left: 10px solid transparent;
}
#oblibene-container .oblibene .title {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 22px;
  color: #fff;
  text-shadow: 1px 1px 1px #00000050;
}
h2 {
  text-transform: uppercase;
}
h2.odstavec_nadpis {
  text-align: center;
}
#akce-container .akce h3 {
  font-size: 18px;
}
#akce-container .akce .date {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  height: 100%;
  background-color: #22b14c;
  color: #fff;
}
#akce-container .akce .date .day {
  display: block;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
#akce-container .akce .date .month {
  font-size: 18px;
  text-align: center;
  display: block;
}
#akce-container .akce .date .time {
  display: block;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.odstavec_201 {
  padding-top: 0;
}
.btn-primary {
  background-color: #22b14c;
  border: 2px #22b14c solid;
  color: #fff;
  border-radius: 0;
}
.btn-primary:hover {
  border-color: #22c14d;
  background-color: #22c14d;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:focus:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:not(.disabled):not(.disabled):active {
  border-color: #21a047;
  background-color: #21a047;
}
#udalosti a {
  color: #000;
  text-decoration: none;
}
#udalosti .udalost {
  padding-left: 5px;
  padding-right: 5px;
}
#udalosti .udalost img {
  height: 275px;
  object-fit: cover;
  width: 100%;
}
#udalosti .udalost h3 {
  font-size: 1.4rem;
}
#udalosti .udalost .text {
  padding: 10px 0;
}
#udalosti .owl-dot span {
  width: 30px;
  border-radius: 0 !important;
}
#udalosti .owl-dot.active span {
  background-color: #faa74a !important;
}
#udalosti .owl-nav {
  width: 100%;
  position: absolute;
  top: 35%;
  left: 0;
  transform: translateY(-50%);
}
#udalosti .owl-nav .owl-prev {
  left: -100px;
  position: absolute;
}
#udalosti .owl-nav .owl-prev:hover {
  background: transparent;
}
#udalosti .owl-nav .owl-prev:hover span {
  color: #faa74a;
}
#udalosti .owl-nav .owl-prev span {
  font-size: 60px;
}
#udalosti .owl-nav .owl-next {
  right: -100px;
  position: absolute;
}
#udalosti .owl-nav .owl-next:hover {
  background: transparent;
}
#udalosti .owl-nav .owl-next:hover span {
  color: #faa74a;
}
#udalosti .owl-nav .owl-next span {
  font-size: 60px;
}
.homepage-links-with-images .container-fluid {
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.homepage-links-with-images .container-fluid:hover .obrazek_bez_textu {
  transition: 0.3s;
  transform: scale(1.02);
}
.homepage-links-with-images .container-fluid .row {
  margin: 0;
  padding: 0;
}
.homepage-links-with-images .container-fluid [class^="col-"] {
  padding: 0;
  margin: 0;
}
.homepage-links-with-images .container-fluid [class^="col-md-"] {
  margin: 0;
  padding: 0;
}
.homepage-links-with-images .container-fluid [class^="obrazek"] {
  margin-bottom: 5px;
}
.homepage-links-with-images .container-fluid .obrazek_ctvercovy,
.homepage-links-with-images .container-fluid .obrazek_bez_textu {
  width: calc(25vw - 10px);
  height: calc(25vw - 10px);
}
.homepage-links-with-images .container-fluid .obrazek_ctvercovy img,
.homepage-links-with-images .container-fluid .obrazek_bez_textu img {
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homepage-links-with-images .container-fluid .obrazek_vysoky {
  width: calc(25vw - 10px);
  height: calc(50vw - 20px);
}
.homepage-links-with-images .container-fluid .obrazek_vysoky img {
  width: 100%;
  height: calc(100% + 5px);
  object-fit: cover;
  z-index: -1;
}
.homepage-links-with-images .container-fluid .obrazek_bez_textu {
  width: calc(25vw - 20px);
  height: calc(25vw - 15px);
  display: block;
  margin: 0 5px 10px;
  box-shadow: 0px 1px 9px #ccc !important;
  position: relative;
  z-index: 10000;
  background-color: #fff;
}
.homepage-links-with-images .container-fluid .obrazek_bez_textu .text {
  padding: 0 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 901px) {
  .homepage-links-with-images .container-fluid .obrazek_siroky {
    width: calc(100vw - 18px);
    height: calc(50vw - 10px);
  }
}
@media (min-width: 901px) {
  .homepage-links-with-images .container-fluid .obrazek_siroky {
    width: calc(50vw - 15px);
    height: calc(25vw - 10px);
  }
}
.homepage-links-with-images .container-fluid .obrazek_siroky img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer {
  padding: 50px 0 35px;
  background-color: #f1f4f5;
  color: #000;
}
footer * {
  color: #000;
}
[class^="nav-level-"] {
  background-color: #fff;
  text-align: center;
  list-style-type: none;
}
[class^="nav-level-"] li {
  display: inline-block;
  cursor: pointer;
  margin: 0;
}
[class^="nav-level-"] li a {
  display: inline-block;
  padding: 15px 20px;
  color: #000;
}
[class^="nav-level-"] li:hover,
[class^="nav-level-"] li.active {
  background-color: #f1f4f5;
}
[class^="nav-level-"] li:hover a,
[class^="nav-level-"] li.active a {
  text-decoration: none;
}
[class^="nav-level-"] li.active {
  background-color: #f1f4f5;
}
[class^="nav-level-"] li.active a {
  font-weight: bold;
}
[class^="nav-level-"] .navicon {
  height: 80px;
  margin: 10px 0;
}
.nav-level-1 {
  border-bottom: 2px #ccc solid;
}
.nav-level-2 {
  background-color: #f1f4f5;
}
.nav-level-2 li.active {
  background-color: #f1f4f5;
}
.teachers {
  padding: 0;
}
.teachers:last-of-type {
  padding-bottom: 50px;
}
.teachers .col-md-3 {
  transition: 0.3s;
}
.teachers .col-md-3 img {
  width: 100%;
  filter: brightness(75%);
  transition: 0.3s;
  height: 255px;
  object-fit: cover;
}
.teachers .col-md-3 a {
  color: #fff;
  text-decoration: none;
}
.teachers .col-md-3 h3,
.teachers .col-md-3 h3 + p {
  position: absolute;
  top: 185px;
  text-align: center;
  width: calc(100% - 30px);
  display: none;
  font-size: 22px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.teachers .col-md-3 h3 + p {
  font-size: 18px;
  bottom: 5%;
}
.teachers .col-md-3 h3 {
  display: block;
}
.teachers .col-md-3:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.teachers .col-md-3:hover h3 {
  top: 140px;
}
.teachers .col-md-3:hover h3,
.teachers .col-md-3:hover h3 + p {
  display: block;
}
.teachers .col-md-3:hover img {
  filter: brightness(100%);
  transition: 0.3s;
}
.odstavec-open {
  padding: 0;
}
.odstavec-open .card {
  border: 0;
  border-radius: 0;
}
@media (min-width: 901px) {
  .odstavec-open .card {
    max-width: 800px;
    margin: 0 auto;
  }
}
.odstavec-open .card-header {
  background-color: transparent;
  border-bottom: 0;
  background: transparent;
}
.odstavec-open .card-header .btn-link {
  background-color: #fff;
  position: relative;
  display: block;
  width: 100%;
  padding: 20px;
  color: #000 !important;
  text-align: left;
  text-decoration: none !important;
}
.odstavec-open .card-header .btn-link h3 {
  font-size: 1.25rem;
  font-weight: normal;
}
.odstavec-open .card-header .btn-link:after {
  content: "+";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  right: 30px;
}
.odstavec-open .card-header .btn-link[aria-expanded="false"]:after {
  content: "+";
}
.odstavec-open .card-header .btn-link[aria-expanded="true"]:after {
  content: "-";
}
.odstavec-open .card-header .btn-link:hover {
  background-color: #f1f4f5;
  transform: 0.3;
}
.odstavec-open:last-of-type {
  margin-bottom: 50px;
}
#galleries .category-box {
  display: table;
  background-color: #fff;
  padding: 10px;
  flex: 0 0 23%;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.15) !important;
  min-height: 100px;
  line-height: 100%;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
}
#galleries .category-box h3,
#galleries .category-box p,
#galleries .category-box a {
  color: #000;
  text-shadow: none !important;
}
#galleries .category-box h3 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  font-size: 20px;
}
#galleries .category-box:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
#galleries .category-box:hover * {
  text-decoration: none !important;
}
#galleries .col-md-3:not(.category-box) {
  transition: 0.3s;
}
#galleries .col-md-3:not(.category-box) img {
  width: 100%;
  filter: brightness(75%);
  transition: 0.3s;
  height: 255px;
  object-fit: cover;
}
#galleries .col-md-3:not(.category-box) a {
  color: #fff;
  text-decoration: none;
}
#galleries .col-md-3:not(.category-box) h3,
#galleries .col-md-3:not(.category-box) h3 + p {
  position: absolute;
  bottom: calc(5% + 45px);
  text-align: center;
  width: calc(100% - 30px);
  display: none;
  font-size: 22px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
#galleries .col-md-3:not(.category-box) h3 + p {
  font-size: 18px;
  bottom: 5%;
}
#galleries .col-md-3:not(.category-box) h3 {
  display: block;
}
#galleries .col-md-3:not(.category-box):hover {
  transform: scale(1.1);
  transition: 0.3s;
}
#galleries .col-md-3:not(.category-box):hover h3,
#galleries .col-md-3:not(.category-box):hover h3 + p {
  display: block;
}
#galleries .col-md-3:not(.category-box):hover img {
  filter: brightness(100%);
  transition: 0.3s;
}
.partnershp {
  background: #fff;
}
.breadcrumb {
  background-color: #fff;
}
.breadcrumb a {
  color: #faa74a;
}
#articles .item {
  margin: 15px 0;
  position: relative;
}
#articles .item img {
  width: 100%;
  height: 255px;
  object-fit: cover;
  object-position: top;
}
#articles .item.clanek a {
  color: #FAA74A;
  text-decoration: none;
}
#articles .item.clanek h3 {
  margin-top: 15px;
  font-size: 22px;
}
#articles .item.kategorie h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 26px;
  width: calc(100% - 30px);
  box-sizing: border-box;
  padding: 15px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}
#article .content {
  margin: 0 -15px;
}
.decor {
  background: repeating-linear-gradient(90deg, #FAA74A, #FAA74A 100px, #FFCB05 100px, #FFCB05 200px, #F9AA8F 200px, #F9AA8F 300px, #D6CC70 300px, #D6CC70 400px);
  height: 4px;
  width: 100%;
}
@media (max-width: 901px) {
  :not(.owl-carousel) .btn.btn-primary.btn-lg {
    display: block;
    width: 100%;
  }
}
@media (max-width: 1300px) {
  .navbar .btn-secondary {
    font-size: 14px;
  }
  .navbar .navbar-brand img {
    max-height: 40px;
  }
  .banner-links .col-md-3 h2 {
    font-size: 20px;
  }
  .banner-links .col-md-3 p {
    padding: 15px;
  }
}
.btn {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) !important;
}
.row.akce {
  background-color: #f1f4f5;
  margin-bottom: 30px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) !important;
}
.row.akce:nth-child(2n) {
  background-color: #fff;
}
.row.akce .date {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  background-color: #22b14c;
  color: #fff;
  margin-bottom: 0;
  height: 100%;
}
.row.akce .col-2,
.row.akce .col-3 {
  padding-left: 0;
}
.row.akce .col-9 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.row.akce .col-9 h3 {
  font-size: 18px;
}
.odstavec_67 {
  padding: 50px 0 100px;
}
.odstavec_67 a.btn {
  position: absolute;
  bottom: -40px;
  left: 15px;
}
#calendar button {
  border: 0;
  color: #000;
  background-color: #f8f8f8;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
}
#calendar button.active,
#calendar button:hover {
  background-color: #faa74a;
  color: #fff;
}
#calendar .months {
  display: none;
}
#calendar .months.active {
  display: block;
}
#calendar .months .month {
  display: none;
}
#calendar .months .month.active {
  display: block;
}
.clanek-vyucujici img {
  width: 100%;
  height: auto;
}
.clanek-vyucujici hr {
  margin-top: -10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #afafaf;
  width: 20%;
  margin-left: 0;
}
.clanek-vyucujici .fa {
  color: #faa74a !important;
}
.clanek-vyucujici a {
  color: #faa74a !important;
}
.clanek-vyucujici a:hover,
.clanek-vyucujici a:active,
.clanek-vyucujici a:focus {
  color: #faa74a !important;
}
/*# sourceMappingURL=styles.css.map */