{if isset($save)}
    {if $save == true}
        <p class="alert alert-success">Uloženo.</p>
        {else}
        <p class="alert alert-danger">Nepovedlo se uložit.</p>
    {/if}
{/if}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#settings" data-toggle="tab">Nastavení textu</a></li>
    </ul>
    <form action="#" method="POST" class="form-horizontal" enctype="multipart/form-data">
        <div class="tab-content">
            <div class="tab-pane active" id="settings">
                <div class="box-body">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Název textu</label>
                        <div class="col-md-5">
                            <input id="title" type="text" name="title" class="form-control" value="{$page.title}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="variable" class="col-sm-2 control-label">Název proměnné</label>
                        <div class="col-md-5">
                            <input id="variable" type="text" name="variable" class="form-control" value="{$page.variable}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ckeditor" class="col-sm-2 control-label">Text</label>
                        <div class="col-md-5">
                            <textarea id="ckeditor" name="value">{$page.value}</textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr />
        <button class="btn btn-success" name="save"><span class="fa fa-floppy-o"></span> Uložit</button>
    </form>
</div>