@import "flag-icon.css";
@media (min-width: 1024px) {
  .langs .flag-icon {
    opacity: 0.5;
    width: 20%;
    line-height: 45px;
  }
}
.sidebar-collapse .langs .flag-icon {
  width: 80%;
}
.langs .flag-icon:hover,
.langs .flag-icon.active {
  opacity: 1;
}
.cntnr {
  padding: 10px;
  background-color: #eee;
}
.cntnr:nth-child(even) {
  background-color: #ddd;
}
/*# sourceMappingURL=styles.css.map */